@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500&display=swap");

html,
body {
  height: 100%;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none !important;
}

input:invalid,
input:invalid:focus {
  border: 2px solid red;
}

#passwordVisibility {
  cursor: pointer;
}

#error-login {
  color: red;
  padding: 5px;
  font-size: 0.9em;
}
.username {
  text-transform: capitalize;
}

.content-footer {
  margin: 0 !important;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  margin: 15px;
}

.logo-menu {
  max-width: 20vw;
}

.img-dash {
}

.input-group-text {
  background: none;
  border-left-width: 0;
}

.input-group #password {
  border-right-width: 0;
}

/* MEDIAS */

@media only screen and (max-width: 480px) {
  .card,
  .shadow {
    border-width: 0 !important;
    box-shadow: 0 0rem 0rem rgba(0, 0, 0, 0) !important;
  }
}
